@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
	--background: #171717;
	--foreground: #ffffff;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #0a0a0a;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.primary-500 {
	color: #0070f3;
}
